<!DOCTYPE html>
<html>
	<head>
		<title>Project Login</title>
		<link rel="stylesheet" type="text/css" href="http://localhost:3000/extra_modules/materialize/css/materialize.css">
		<link rel="stylesheet" type="text/css" href="http://localhost:3000/myStyles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div id="navBar"></div>
		<script type="text/javascript" src="http://localhost:3000/extra_modules/jQuery.js"></script>
		<script type="text/javascript" src="http://localhost:3000/extra_modules/materialize/js/materialize.js"></script>
		<script type="text/javascript" src="http://localhost:3000/navBar.js"></script>
	</body>
</html>